<p id="notice"><%= notice %></p>


<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <% @trips.each do |trip| %>
        <div class="col-lg-4">
          <img class="img-circle" src="<%= trip.picture_url %>" alt="Generic placeholder image" width="140" height="140">
          <h2><%= trip.name %></h2>
          <p><%= trip.description %></p>
          <p><a class="btn btn-default" href="<%= url_for trip %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <% end %>

      </div>
    </div>
<br>

<%= link_to 'New Trip', new_trip_path %>
